extends ../../../../../app/views/layout

block header
  link(rel='stylesheet', href='/stylesheets/login.css')

block content

  #login-content

    #login-logo
      img( src='/images/logo_200x200.png')
    #login-logo-text box

    form.content-padding( action='/reset_password', method='post' )
      input( type='hidden', name='_csrf', value=_csrf )

      p.desc!=t('forgot_password.desc')
      p
        label=t('user.email')
        br
        input.js-get-focus( type='text', name='email', placeholder=t('user.email') )

      p(style='text-align: right')
        a.btn( href='/login' )= t('cancel')
        button.btn(type='submit')= t('forgot_password.send')


  -if( flash.error )
    -for( var i=0,msg; msg=flash.error[i]; i++ )
      script
        $(function(){
          iokit.notify('#{msg}', 'error');
        });

  script
    $(function(){
      $('.js-get-focus:first').focus();
    })