extends ../../../../../app/views/layout

block header
  link(rel='stylesheet', href='/stylesheets/login.css')

block content


  #login-content

    #login-logo
      img( src='/images/logo_150x150.png')

    form.content-padding( action='/login', method='post' )
      input( type='hidden', name='_csrf', value=_csrf )

      p
        label=t('user.email')
        br
        input.js-get-focus( type='text', name='email', placeholder=t('user.email') )
      p
        label=t('user.password')
        br
        input( type='password', name='password', placeholder=t('user.password') )

      p(style='margin: 10px 48px 0 0')
        button.btn.pull-right(type='submit')= t('user.login')
        a.pull-right( href='/forgot_password' )= t('user.forgot_password')


  -if( flash.error )
    -for( var i=0,msg; msg=flash.error[i]; i++ )
      script
        $(function(){
          iokit.notify('#{msg}', 'error');
        });

  script
    $(function(){
      $('.js-get-focus:first').focus();
    })