extends ../../../../../app/views/layout

block header
  link(rel='stylesheet', href='/stylesheets/login.css')

block content

  #login-content

    #login-logo
      img( src='/images/logo_200x200.png')
    #login-logo-text box

    form.content-padding( action='/users/'+user._id+'/set_password', method='post' )
      input( type='hidden', name='_csrf', value=_csrf )
      input( type='hidden', name='key', value=user.confirmation.key )

      p.desc!=t('forgot_password.set_desc')
      p
        label=t('user.new_password')
        br
        input.js-get-focus( type='password', name='password' )
      p
        label=t('user.new_password_confirm')
        br
        input( type='password', name='password_confirm' )

      p(style='text-align: right')
        a.btn( href='/login' )= t('cancel')
        button.btn(type='submit')= t('forgot_password.set')


  -if( flash.error )
    -for( var i=0,msg; msg=flash.error[i]; i++ )
      script
        $(function(){
          iokit.notify('#{msg}', 'error');
        });
  -else if( flash.notice )
    -for( var i=0,msg; msg=flash.notice[i]; i++ )
      script
        $(function(){
          iokit.notify('#{msg}');
        });
        
  script
    $(function(){
      $('#login-content input[type=password]').val('');
      $('.js-get-focus:first').focus();
    })