.content-padding
  form( action='/users/#{user._id}/change_password_modal', data-remote='true', method='put' )
    -if( user._id.toString() === currentUser._id.toString() )
      p
        label.desc=t('user.old_password')
        br
        input.span400( type='password', name='old_password' )

    p
      label.desc=t('user.new_password')
      br
      input.span400( type='password', name='password' )

    p
      label.desc=t('user.new_password_confirm')
      br
      input.span400( type='password', name='password_confirm' )

    p( style='text-align:right')
      input.btn( type='submit', value=t('user.change_password') )