#iokit-users
  .iokit-sidebar
    .iokit-tree

      h1.title=t('users.title')

      .tree-controls
        a.btn.w-icn-only.live-tipsy( href='/users/new', original-title=t('users.new'), data-bind='click: newItemForm' )
          span.icn-plus.icn
        a.btn.w-icn-only.live-tipsy( href='#', original-title=t('refresh'), data-bind='click: fetchData' )
          span.icn.icn-refresh
        a.btn.w-icn-only.live-tipsy.enableable( href='#', original-title=t('delete_selected'), data-bind='css: {enabled: selectedItems().length > 0}, click: deleteSelected')
          span.icn.icn-trash

      br.clearfix

      ul.tree-content( data-bind='template: {name: "userItemTemplate", foreach: items}' )

  .iokit-content

    .click-for-details.no-item-form
      h1.title=t('users.title')
      span=t('users.click_for_details')

    #iokit-user-form.item-form( data-bind='template: {name: "userItemForm"}' )

script(type='text/html', id='userItemTemplate')
  // ko if: $parent.showSuspended() || !suspended()
  li.tree-li( data-bind='attr: { "data-id": _id }, click: markSelected')
    .tree-item
      a.pull-right.show-details-arr( data-bind='click: showForm')
        span.icn.icn-arr-right
        | &nbsp;
      a.pull-right( data-bind='click: toggleSuspendUser' )
        span.icn.icn-locked( data-bind='css: {unlocked: !suspended()}' )
      a.link-trigger( href='#', data-bind='text: name().full, click: showForm' )
  // /ko

script(type='text/html', id='userItemForm')

  .top-tabs

    ul.top-tabs-nav
      li=t('user.general')
      li=t('user.preferences')

    .top-tabs-content

      .content-padding

        include snippets/form

      .content-padding

        include snippets/preferences


script(type='text/javascript')
  $('#iokit-users .iokit-tree').iokitTree({
    url: '/users.json',
    saveUrl: '/users',
    saveKey: 'user',
    saveAttrs: ['name', 'email'],
    defaultValues: { name: {nick: ''}, email: ''},
    deleteSelected: function( tree ){
      for( var i in tree.treeViewModel.selectedItems() )
        $.ajax({ url: '/users/'+tree.treeViewModel.selectedItems()[i]._id,
                 type: 'delete',
                 dataType: 'json',
                 data: { _csrf: $('#_csrf').val() },
                 success: function( response ){
                    if( response.success ){
                      tree.treeViewModel.selectedItems.remove( tree.treeViewModel.selectedItems()[i] );
                      tree.treeViewModel.items.remove( tree.treeViewModel.selectedItems()[i] );
                    }
                    iokit.notify( response.flash );
                 }
        });
    },
    before: function( tree ){
      tree.treeViewModel.showSuspended = ko.observable(false);
      tree.TreeItemModel.prototype.toggleSuspendUser = function( item, e ){
        console.log('toggle suspend');
      };
    },
    showForm: function( item, e ){
      $('#iokit-users .click-for-details').hide();
      ko.cleanNode( $('#iokit-user-form').get(0) );
      ko.applyBindings( this, $('#iokit-user-form').get(0) );
      $('#iokit-user-form .top-tabs').iokitTopTabs();
      $('#iokit-user-form').fadeIn(200);
    },
    newItemForm: function(){
      $('#iokit-users .click-for-details').hide();
      ko.cleanNode( $('#iokit-user-form').get(0) );
      ko.applyBindings( this.newItem(), $('#iokit-user-form').get(0) );
      $('#iokit-user-form .top-tabs').iokitTopTabs();
      $('#iokit-user-form').fadeIn(200);
      setTimeout( function(){
        $('#iokit-user-form input[type=text]:first').focus();
      },200);
    }
  })