.content-padding
  h1.title=t('user.profile_of', {name: user.name.full})

  .content-padding-w-overflow( style='top: 50px; left: 40px')

    fieldset
      legend=t('user.contact')

      .pull-right
        a.btn( href='/users/#{user._id}/edit', data-remote='true', style='margin-right: 5px' )=t('edit')
        a.btn( href='/users/#{user._id}/change_password_modal', data-remote='true' )=t('user.change_password')

      .userpic.userpic96.pull-left
        img( src='/users/#{user._id}/pic?size=96', class='userpic-#{user._id}' )
        .editpic
          =t('user.picture.edit')

      p
        label=t('user.name')
        br
        span=user.name.full

      p
        label=t('user.nick')
        br
        span=user.name.nick

      p
        label=t('user.email')
        br
        span=user.email

    fieldset
      legend=t('user.administrational_privileges')

      div(style='margin-left: 160px')
        p
          label=t('user.roles.title')

        table
          -each role in iokit.config.userRoles
            tr
              td( style='padding-right: 20px')=t('user.roles.'+role)
              td
                span.icn.icn-check( class=(user.roles.indexOf(role) >= 0 ? 'checked' : null) )