inter.sidebar.find('.active').removeClass('active');
inter.main.show( <%- JSON.stringify( partial( partialPath, {user: user, currentUser: currentUser, inter: inter} ) ) %>, function( container ){
  container.find('.editpic').on('click', function(){
    inter.modal({url: '/users/<%= user._id %>/change_pic_modal', title: '<%= t('user.picture.edit') %>',
      completed: function( modal ){

        modal.find('#uploader').fineUploader({

          request: {
            endpoint: '/users/<%= user._id %>/change_pic_modal',
            params: {
              _csrf: inter._csrf
            }
          },

          text: {
            uploadButton: '<i class="icn icn-upload pull-left"></i> <span class="pull-left"><%= t('user.picture.select') %></span>'
          }

        }).on('upload', function(){
          modal.find('form').slideUp(200);
          modal.find('#upload-progress').show();
          modal.find('.qq-upload-list').remove();
          console.log('upload');
        }).on('progress', function( e, id, fileName, uploadedBytes, totalBytes ){
          console.log(arguments);
          var percent = uploadedBytes / (totalBytes / 100);
          console.log('progress', percent);
          modal.find('#upload-progress .bar').css('width', percent+'%');
        }).on('complete', function( e, id, fileName, response ){
          console.log('complete', response);
          if( response.flash.error && response.flash.error.length > 0 ){
            $('#inter-modal form').slideDown(200);
            $('#upload-progress').hide();
          }
          modal.find('#upload-progress .bar').css('width', '100%');
          inter.notify(response.flash);
        });

       }
    });
  }); 
});


/*
          $(modal).find('input[type=file]').kendoUpload({
              async: {
                  saveUrl: modal.find('form').attr('action'),
                  autoUpload: true
              },
              multiple: false,
              showFileList: false,
              success: function( e ){
                if( e.response.flash.notice && e.response.flash.notice.length > 0 ){
                  inter.notify( e.response.flash );
                } else {
                  $('#inter-modal form').slideDown(200);
                  $('#upload-progress').hide();
                  $(modal).animate({height: UPLOAD_FORM_HEIGHT}, 200);
                }
                inter.notify(e.response.flash);
              },
              error: function( e ){
                console.log('error', e);
              },
              progress: function( e ){
                modal.find('#upload-progress .bar').css('width', e.percentComplete+'%');
              },
              upload: function( e ){
              console.log('here');
                modal.find('form').slideUp(200);
                modal.find('#upload-progress').show();
                e.data = { _csrf: inter._csrf };
              }
          });
          */