inter.sidebar.find('.active').removeClass('active');
inter.main.show( <%- JSON.stringify( partial( partialPath, {user: user, currentUser: currentUser, inter: inter} ) ) %>, function( container ){
  container.find('.editpic').on('click', function(){

    inter.modal({url: '/users/<%= user._id %>/change_pic_modal', title: '<%= t('user.picture.of', {name: user.name.full}) %>',

      before: function( modal ){

        function showPreview(coords){
          modal.find('input[name=w]').val( parseInt(coords.w) );
          modal.find('input[name=h]').val( parseInt(coords.h) );
          modal.find('input[name=x]').val( Math.round(coords.x) );
          modal.find('input[name=y]').val( Math.round(coords.y) );
        }

        var selectOpts = [0,0,100,100];
        <% if( currentUser.picCropCoords.w > 0 ){ %>
          selectOpts = [ <%= currentUser.picCropCoords.x %>,
                         <%= currentUser.picCropCoords.y %>,
                         <%= currentUser.picCropCoords.x + currentUser.picCropCoords.w %>,
                         <%= currentUser.picCropCoords.y + currentUser.picCropCoords.h %>];
        <% } %>

        modal.find('#user-profile-pic').Jcrop({
          onChange: showPreview,
          onSelect: showPreview,
          aspectRatio: 1,
          setSelect: ( selectOpts || null )
        });

        modal.find('#uploader').fineUploader({

          request: {
            endpoint: '/users/<%= user._id %>/change_pic_modal',
            params: {
              _csrf: inter._csrf
            }
          },

          text: {
            uploadButton: '<i class="icn icn-upload pull-left"></i> <span class="pull-left"><%= t('user.picture.select') %></span>'
          }

        }).on('upload', function(){
          modal.find('#uploader').slideUp(200);
          modal.find('#upload-progress').show();
          modal.find('.qq-upload-list').remove();
        }).on('progress', function( e, id, fileName, uploadedBytes, totalBytes ){
          var percent = uploadedBytes / (totalBytes / 100);
          modal.find('#upload-progress .bar').css('width', percent+'%');
        }).on('complete', function( e, id, fileName, response ){

          if( response.flash.error && response.flash.error.length > 0 ){
            $('#inter-modal form').slideDown(200);
            $('#upload-progress').hide();
          }

          modal.find('#upload-progress .bar').css('width', '100%');
          inter.notify(response.flash);

          modal.find('#user-profile-pic').attr('src', $('#user-profile-pic').attr('src').split('?')[0]+'?'+(new Date()).getTime().toString()).Jcrop({
            onChange: showPreview,
            onSelect: showPreview,
            aspectRatio: 1
          });

          setTimeout( function(){ modal.find('#upload-progress').after('<p><%= t('finished') %></p>'); }, 1500 );
        });

       }
    });
  }); 
});