#iokit-dashboard.dashboard-plugin.content-padding

  .dropdown.pull-right
    a#dashboard-settings( data-toggle='dropdown' )
      span.icn.icn-preferences.white
      span.icn.icn-caret.white
    ul.dropdown-menu.right-hand.select-docklets
      -for( var i in iokit.plugins )
        -if( iokit.plugins[i].docklets )
          -for( var j=0, docklet; docklet=iokit.plugins[i].docklets[j]; j++ )
            -dockletPath = iokit.plugins[i].name+'/docklets/'+docklet;
            li(data-docklet-path=dockletPath)
              span.icn.icn-checkbox.pull-left( class=(currentUser.preferences.docklets && currentUser.preferences.docklets.indexOf( dockletPath ) >= 0 ? 'checked' : null) )
              span=t(iokit.plugins[i].name+'.docklets.'+docklet+'.title')

  h1.title Dashboard

  .docklets-container.content-padding-w-overflow(style='top: 47px')
    if( currentUser.preferences.docklets )
      -currentUser.preferences.docklets.forEach(function( docklet ){
        .iokit-docklet(id=docklet.replace(/\//g,'-'))
          .loader
            .circle
            .circle
            .circle
            .circle
            .circle
      -})

script
  $(function(){
    $('.dashboard-plugin .select-docklets .icn-checkbox').on('click', function(){
      $(this).toggleClass('checked');
      if( $(this).hasClass('checked') ){
        var dockletPath = $(this).closest('li').attr('data-docklet-path');
        var docklet = $('<div class="iokit-docklet"><div class="loader"><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="circle"></div></div></div>');
        docklet.attr('id', dockletPath.replace(/\//g,'-') )
        $('.docklets-container').append( docklet );
        $.ajax({ url: '/users/#{currentUser._id}/docklets', dataType: 'script', data: {_csrf: iokit._csrf, docklets: dockletPath }, 
                type: 'post',
                success: function( response ){
                  iokit.notify( response.flash );
                } 
        });
        docklet.load( iokit.host.native + '/' + dockletPath )
      }
    });
  });

if( currentUser.preferences.docklets )
  -each docklet in currentUser.preferences.docklets
    script
      $(function(){
        $('#' + '#{docklet.replace(new RegExp('\/','g'),'-')}').load( iokit.host.native + '/#{docklet}' )
      });