#iokit-top-panel.iokit-top-panel
  #useractions.useractions
    a.pull-right.logout( href='/logout' )
      span.icn.icn-power.white

    a#userpic.pull-right( data-user-img=currentUser._id, href='#/users/'+currentUser._id, data-link='true' )
      img( class='userpic-#{currentUser._id}', src='/users/'+currentUser._id+'/pic?size=24', style='width:24px;height:24px' )

    a.pull-right( href='#/users/'+currentUser._id, data-link='true' )
      =currentUser.name.full

  #desktop-control(style="display:none")
    a#minimize-window-button( href='#' )
      img( src='/images/icons/win_minimize.svg' )
    a#maximize-window-button( href='#' )
      img( src='/images/icons/win_maximize.svg' )
    a#close-window-button( href='#' )
      img( src='/images/icons/win_close.svg' )

  #click-here-for-advanced
    span.adv-open
      =t('advanced.click_here_for_adv')
      span &nbsp; (STRG-F) 
    span.adv-close
      =t('advanced.click_here_to_close')
      span &nbsp; (ESC)

#iokit-advanced-panel.iokit-advanced-panel
  ul.adv-actions
    li
      a.live-tipsy.iokit-link-action( href='#/trash-basket', data-link='true' )
        span.icn.icn-trash
        span=t('trash.title')
    li
      a.live-tipsy.iokit-link-action( href='#/preferences', data-link='true' )
        span.icn.icn-preferences
        span=t('preferences.title')

  form#search-form
    ul.query-options
      li.active
        span=t('search.title')
      li
        span=t('search.saved')

    .query
      button.options
        span.caret
      button( type='submit' )
        span.icn.icn-search
      input( type='text', name='query' )